.App {
  text-align: center;
}





.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.board {
  width: 60%;
  margin: auto;
}

.nullCell {
  border: 40px solid rgb(231, 230, 230);
  border-radius: 50%;
  margin: 10px 10px;
  cursor: pointer;
}

.flex {
  display: flex;
  justify-content: space-around;
}

.red {
  border: 40px solid red;
  border-radius: 50%;
  margin: 10px 10px;
  cursor: pointer;
}

.yellow {
  border: 40px solid yellow;
  border-radius: 50%;
  margin: 10px 10px;
  cursor: pointer;
}
.wrapper {
  margin: 0 22rem;
  box-shadow: 0 6px 20px 0 rgb(0, 0, 0);
  background-color: #182c52;
  border-radius: 10px;
}

button {
  margin-top: 2rem;
  background-color: #fbd761;
  border: none;
  padding: 1rem 2rem;
  border-radius: 10px;
  box-shadow: 0 6px 20px 0 rgb(0, 0, 0);
  font-weight: bold;
}

.mainHeader {
  margin-top: 150px;
}
